// 主题色
// 蓝色$themeblue
// 红色$themered


// 颜色变量
$red: #E70020;
$blue:#0077ff;
$whilt:#fff;
$gainsboro:#eee;
$silver:#ccc;
$darkGray:#D8D8D8;
$dimGray:#353535;
$black:#000;
$WhiteSmoke:#484848;
$lightGray:#F1F1F1;
$backGray:#C8C8C8;
$lbGray:#F2F2F2;


// 字体变量
$fontColor333 : #333;
$fontColor666 : #666;
$fontColor999 : #999;
$fontColorBlack:$black;

//提交正确提示效果
$truemessageColor:$blue;

//边框变量
$borderColor:$silver;
$bottom-borderColor:$WhiteSmoke;

//图标变量
$iconColor:$silver;

//背景变量
$button-bgColor:$gainsboro;
$tags-bgColor:$darkGray;
$menu-bgColor:$dimGray;
$logo-bgColor:$black;
$main-bgColor:$lightGray;
$popus-bgColor:$backGray;
$popuslight-bgColor:$lbGray;

// 主题色变量;
$themeColor: $red;